body{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: #536878;
}
.calc{
width: 50rem;
height: 50rem;
background-color: #2fcc41;
display: flex;
align-items: center;
justify-content: center;
box-shadow: -10px 5px 5px green;
flex-direction: column;
}
#displaybmi{
    background-color: transparent;
    width: 350px;
    height: 250px;
    font-size: 2rem;
}
nav{
    background-color: transparent;
    width: 100%;
    height: 4rem;
    

}
p{
    font-size: 2rem;
}
label{
    font-size: 2rem;
}
table{
    padding: 0;
}
input[type="submit"]{
    background-color: greenyellow;
    border-radius: 25px;
    width: 60px;
    

}
input[type="radio"]{
    width:3rem;
}

input[type="number"], 
input[type="text"]{
    background-color: greenyellow;
    height: 1rem;
    }
    
input[type="number"]:focus, 
input[type="text"]:focus {
    background-color: greenyellow;
    outline: none; 
}
input[type="number"]:invalid, 
input[type="text"]:invalid{
background-color: greenyellow;
height: 1rem;
}

#adatok{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
input:-webkit-autofill {
    background-color: greenyellow !important; 
    -webkit-box-shadow: 0 0 0px 1000px greenyellow inset !important;
    color: black !important; 
}
a{
    color: black;
}
